* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

marquee {
    text-transform: uppercase;
    font-size: large;
    color: red;
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 920px;
    margin: 0 auto;
    position: relative;
}

:root {
    --family: 'Chivo';
    ---family: 'Century Gothic';
}


/* header */

.header {}

.header__one {}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {}

.logo__img {}

.ul {
    width: 463px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.li {
    list-style-type: none;
    transition: all 0.5s linear;
}

.ssilka {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    text-align: right;
    color: #AAAAAA;
}

.li:hover {
    transform: scale(1.2);
}

.menu__box {
    display: none;
}

.burger {}

.hidden:checked~.burger__box {
    right: 0px;
    transition: all 1s linear;
}

.hidden {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    top: -1500000000px;
    right: -15000000000x;
    overflow: hidden;
}

.burger__box {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 300px;
    /* padding-left: 10px; */
    padding-top: 20px;
    transition: all 0.5s linear;
    position: absolute;
    right: -2000px;
    top: 60px;
    border-radius: 10px;
    border: 3px solid rgb(255, 0, 0);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.active{
    position: fixed;
    right: 15px;
    top: 93px;
}
.home{
    text-transform: uppercase;
    font-family: var(--family);
    text-align: center;
    line-height: 50px;
    margin-bottom: 20px;
}
/* 
.burger__box:hover {
    background-color: darkgray;
} */

.silka {
    display: block;
    font-family: var(---family);
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 20px;
    transition: all 0.5s linear;
    margin-left: 20px;
    line-height: 40px;
}

/* .silka:hover {
    transform: scale(1.2);
} */


/* header */


/* main */

.main {}

.main__one {
    padding-top: 10px;
}

.box {
    background-image: url(../assets/images/one.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 613px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.text__box {}

.btext {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    /* or 121% */
    text-align: center;
    color: #FFFFFF;
}

.text {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    /* or 155% */
    text-align: center;
    letter-spacing: 0.206928px;
    color: #FFFFFF;
}

.main__two {}

.box2 {
    background-image: url(../assets/images/two.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 613px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.text__box2 {}

.btext2 {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height, or 121% */
    text-align: center;
    color: #FFFFFF;
}

.text2 {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    /* or 155% */
    text-align: center;
    letter-spacing: 0.206928px;
    color: #FFFFFF;
}

.main__three {}

.box3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.in {
    background-image: url(../assets/images/three.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    height: 442px;
    width: 48%;
}

.in2 {
    background-image: url(../assets/images/four.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    height: 442px;
    width: 48%;
}

.text__box3 {}

.btext3 {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    /* identical to box height, or 121% */
    text-align: center;
    color: #FFFFFF;
}

.text3 {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.13px;
    color: #FFFFFF;
}

.text__box4 {}

.btext4 {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    /* identical to box height, or 121% */
    text-align: center;
    color: #FFFFFF;
}

.text4 {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.13px;
    color: #FFFFFF;
}

.main__four {}

.bbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one {
    width: 32%;
    height: 281px;
    background-image: url(../assets/images/five.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__box5 {}

.btext5 {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 119% */
    text-align: center;
    color: #FFFFFF;
}

.text5 {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.13px;
    color: #FFFFFF;
}

.two {
    width: 32%;
    height: 281px;
    background-image: url(../assets/images/six.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__box6 {}

.btext6 {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 119% */
    text-align: center;
    color: #FFFFFF;
}

.text6 {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.13px;
    color: #FFFFFF;
}

.three {
    width: 32%;
    height: 281px;
    background-image: url(../assets/images/seven.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__box7 {}

.btext7 {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 119% */
    text-align: center;
    color: #FFFFFF;
}

.text7 {
    font-family: var(--family);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.13px;
    color: #FFFFFF;
}


/* main */


/* footer */

.footer {}

.footer__one {
    padding-top: 100px;
}

.bax {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    margin-bottom: 25px;
}

.odin {
    transition: all 0.5s linear;
}

.dva {
    transition: all 0.5s linear;
}

.tree {
    transition: all 0.5s linear;
}

.chetire {
    transition: all 0.5s linear;
}

.odin:hover {
    /* transform: scale(1.2); */
    transform: rotate(360deg);
    transition: all 1s linear;
}

.dva:hover {
    /* transform: scale(1.2); */
    transform: rotate(360deg);
    transition: all 1s linear;
}

.tree:hover {
    /* transform: scale(1.2); */
    transform: rotate(360deg);
    transition: all 1s linear;
}

.chetire:hover {
    /* transform: scale(1.2); */
    transform: rotate(360deg);
    transition: all 1s linear;
}

.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.logo__img2 {
}

.logo__img2:hover {
    transform: rotate(360deg);
    transition: all 1s linear;
}

.grey {
    text-align: center;
}


/* footer */



/* loader */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

h1 {
    font-family: "Open Sans", -apple-system, "Segoe UI", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #212121;
    box-sizing: border-box;
}

.dots {
    display: inline-flex;
}

.dots--animate .dot.z {
    -webkit-animation: scale 0.8s 0.2s forwards;
    animation: scale 0.8s 0.2s forwards;
}

.dots--animate .dot.f,
.dots--animate .dot.s {
    -webkit-animation: right 0.5s forwards;
    animation: right 0.5s forwards;
}

.dots--animate .dot.l {
    -webkit-animation: rightDown 0.4s 0.1s forwards linear, drop 2s 0.4s forwards linear;
    animation: rightDown 0.4s 0.1s forwards linear, drop 2s 0.4s forwards linear;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #212121;
    border-radius: 10px;
    position: relative;
    margin-left: 6px;
}

.dot.z {
    position: absolute;
    transform: scale(0);
}

@-webkit-keyframes scale {
    100% {
        transform: scale(1);
    }
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.dot.f,
.dot.s {
    transform: translateX(0px);
}

@-webkit-keyframes right {
    100% {
        transform: translateX(16px);
    }
}

@keyframes right {
    100% {
        transform: translateX(16px);
    }
}

.dot.t {
    background: transparent;
}

.dot .l {
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 0;
}

@-webkit-keyframes rightDown {
    50% {
        top: 4px;
        left: 16px;
    }
    100% {
        top: 12px;
        left: 24px;
    }
}

@keyframes rightDown {
    50% {
        top: 4px;
        left: 16px;
    }
    100% {
        top: 12px;
        left: 24px;
    }
}

@-webkit-keyframes drop {
    100% {
        transform: translate(70px, calc(35px + (100vh / 2)));
    }
}

@keyframes drop {
    100% {
        transform: translate(70px, calc(35px + (100vh / 2)));
    }
}

/* .abs-twitter {
    position: fixed;
    right: calc(24px + 0.6vw);
    top: calc(22px + 0.6vw);
    transform: translate(-8px, 4px);
    opacity: 0;
    transition: 0.3s ease-in;
}

.abs-twitter--show {
    transform: translate(0, 0);
    opacity: 1;
    -webkit-animation: birdie 1s 0.8s linear infinite;
    animation: birdie 1s 0.8s linear infinite;
} */

@-webkit-keyframes birdie {
    13% {
        transform: rotate(14deg);
    }
    26% {
        transform: rotate(28deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes birdie {
    13% {
        transform: rotate(14deg);
    }
    26% {
        transform: rotate(28deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.bb {
    width: 100%;
    height: 400px;
    background-color: #000000;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bb h1 {
    color: white;
}

.bb span {
    background-color: white;
}

.ss {
    transition: all 0.5s linear;
    opacity: 0;
}
/* /loader */