@media only screen and (max-width:970px) {
    .container {
        width: 99%;
    }
}

@media only screen and (max-width:930px) {
    .container {
        width: 99%;
    }
    .in {
        height: 390px;
    }
    .in2 {
        height: 390px;
    }
    .box {
        height: 550px;
    }
    .box2 {
        height: 550px;
    }
}

@media only screen and (max-width:890px) {
    .container {
        width: 99%;
    }
    .box {
        height: 500px;
    }
    .box2 {
        height: 500px;
    }
    .in {
        height: 350px;
    }
    .in2 {
        height: 350px;
    }
    .menu__box {
        display: block;
        z-index: 99;
    }
    .ul {
        display: none;
    }
    .main__one {
        padding-top: 10px;
    }
}

@media only screen and (max-width:860px) {
    .container {
        width: 99%;
    }
    .box {
        height: 450px;
    }
    .box2 {
        height: 430px;
    }
    .in {
        height: 340px;
    }
    .in2 {
        height: 340px;
    }
    .one {
        height: 220px;
    }
    .two {
        height: 220px;
    }
    .three {
        height: 220px;
    }
}

@media only screen and (max-width:800px) {
    .btext {
        font-size: 40px;
    }
    .btext2 {
        font-size: 40px;
    }
}

@media only screen and (max-width:740px) {
    .btext5 {
        font-size: 13px;
    }
    .text5 {
        font-size: 10px;
    }
    .btext6 {
        font-size: 13px;
    }
    .text6 {
        font-size: 10px;
    }
    .btext7 {
        font-size: 13px;
    }
    .text7 {
        font-size: 10px;
    }
}

@media only screen and (max-width:730px) {
    .box {
        height: 400px;
        margin-bottom: 20px;
    }
    .box2 {
        height: 300px;
        margin-bottom: 20px;
    }
    .in {
        height: 300px;
        margin-bottom: 20px;
    }
    .in2 {
        height: 300px;
        margin-bottom: 20px;
    }
    .one {
        height: 200px;
    }
    .two {
        height: 200px;
    }
    .three {
        height: 200px;
    }
    .container{
        position: relative;
    }
    .burger__box {
        position: fixed;
        top: 93px;
        right: 15px !important;
    }
    .main__one {
        padding-top: 9px;
    }
}

@media only screen and (max-width:700px) {
    .btext {
        font-size: 30px;
    }
    .text {
        font-size: 15px;
    }
    .btext2 {
        font-size: 30px;
    }
    .text2 {
        font-size: 15px;
    }
    .bbox {
        display: block;
    }
    .one {
        margin: 0 auto;
        width: 100%;
        height: 350px;
        margin-bottom: 10px;
    }
    .two {
        margin: 0 auto;
        width: 100%;
        height: 350px;
        margin-bottom: 10px;
    }
    .three {
        margin: 0 auto;
        width: 100%;
        height: 350px;
        margin-bottom: 10px;
    }
    .box3 {
        display: block;
    }
    .in {
        margin: 0 auto;
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
    .in2 {
        margin: 0 auto;
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
    .btext2 {
        margin-bottom: 0px;
    }
    .btext3 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .text3 {
        font-size: 15px;
    }
    .btext4 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .text4 {
        font-size: 15px;
    }
    .btext5 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .text5 {
        font-size: 15px;
    }
    .btext6 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .text6 {
        font-size: 15px;
    }
    .btext7 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .text7 {
        font-size: 15px;
    }
}

@media only screen and (max-width:600px) {
    .btext {
        font-size: 25px;
    }
    .btext2 {
        font-size: 25px;
    }
    .btext3 {
        font-size: 25px;
    }
    .btext4 {
        font-size: 25px;
    }
    .btext5 {
        font-size: 25px;
    }
    .btext6 {
        font-size: 25px;
    }
    .btext7 {
        font-size: 25px;
    }
}

@media only screen and (max-width:560px) {
    /* .logo__img {
        width: 200px;
    } */
    .burger {
        height: 25px;
    }
    /* .burger__box {
        width: 150px;
        height: 400px;
        padding-top: 15px;
        padding-left: 25px;
    } */
    /* .silka {
        font-size: 15px;
    } */
    .main__one {
        padding-top: 8px;
    }
}

@media only screen and (max-width:525px) {
    .btext2 {
        line-height: 30px;
        margin-bottom: 15px;
    }
    .box {
        height: 300px;
    }
    .box2 {
        height: 250px;
    }
    .btext {
        margin-bottom: 0px;
    }
    .one {
        height: 300px;
    }
    .two {
        height: 300px;
    }
    .three {
        height: 300px;
    }
}

@media only screen and (max-width:480px) {
    .btext {
        font-size: 17px;
        margin-bottom: 5px;
        line-height: normal;
    }
    .text {
        font-size: 10px;
    }
    .btext2 {
        font-size: 17px;
        margin-bottom: 5px;
        line-height: normal;
    }
    .text2 {
        font-size: 10px;
    }
    .btext3 {
        font-size: 17px;
        margin-bottom: 5px;
        line-height: normal;
    }
    .text3 {
        font-size: 10px;
    }
    .btext4 {
        font-size: 17px;
        margin-bottom: 5px;
        line-height: normal;
    }
    .text4 {
        font-size: 10px;
    }
    .btext5 {
        font-size: 17px;
        margin-bottom: 5px;
        line-height: normal;
    }
    .text5 {
        font-size: 10px;
    }
    .btext6 {
        font-size: 17px;
        margin-bottom: 5px;
        line-height: normal;
    }
    .text6 {
        font-size: 10px;
    }
    .btext7 {
        font-size: 17px;
        margin-bottom: 5px;
        line-height: normal;
    }
    .text7 {
        font-size: 10px;
    }
    .logo__img {
        width: 200px;
    }
    .burger {
        height: 20px;
    }
    .box {
        height: 250px;
    }
    .box2 {
        height: 250px;
    }
    .in {
        height: 250px;
    }
    .in2 {
        height: 250px;
    }
    .one {
        height: 250px;
    }
    .two {
        height: 250px;
    }
    .three {
        height: 250px;
    }
    /* .silka {
        font-size: 10px;
        margin-bottom: 5px;
    } */
    .main__one {
        padding-top: 7px;
    }
    .footer__one {
        /* padding-top: 50px!important; */
    }
}

@media only screen and (max-width:410px) {
    .logo__img {
        width: 200px;
    }
    .burger {
        height: 20px;
    }
    .box {
        height: 200px;
        margin-bottom: 10px;
    }
    .box2 {
        height: 200px;
        margin-bottom: 10px;
    }
    .in {
        height: 200px;
        margin-bottom: 10px;
    }
    .in2 {
        height: 200px;
        margin-bottom: 10px;
    }
    .one {
        height: 200px;
        margin-bottom: 10px;
    }
    .two {
        height: 200px;
        margin-bottom: 10px;
    }
    .three {
        height: 200px;
    }
    /* .burger__box {
        width: 100px;
        height: 90px;
        padding-top: 10px;
        padding-left: 10px;
    } */
    /* .silka {
        font-size: 10px;
        margin: 0;
    } */
    .main__one {
        padding-top: 2px;
    }
}

@media only screen and (max-width:390px) {
    .insta {
        height: 30px;
        width: 30px;
    }
    .facebook {
        height: 30px;
        width: 30px;
    }
    .conect {
        height: 30px;
        width: 30px;
    }
    .painterest {
        height: 30px;
        width: 30px;
    }
}

@media only screen and (max-width:380px) {
    .logo__img {
        width: 200px;
    }
    .box {
        height: 200px;
        margin-bottom: 10px;
    }
    .box2 {
        height: 200px;
        margin-bottom: 10px;
    }
    .in {
        height: 200px;
        margin-bottom: 10px;
    }
    .in2 {
        height: 200px;
        margin-bottom: 10px;
    }
    .one {
        height: 200px;
        margin-bottom: 10px;
    }
    .two {
        height: 200px;
        margin-bottom: 10px;
    }
    .three {
        height: 200px;
    }
    .btext {
        font-size: 17px;
        margin: 0;
    }
    .btext2 {
        font-size: 17px;
        margin: 0;
    }
    .btext3 {
        font-size: 17px;
    }
    .btext4 {
        font-size: 17px;
    }
    .btext5 {
        font-size: 17px;
    }
    .btext6 {
        font-size: 17px;
    }
    .btext7 {
        font-size: 17px;
    }
    .text {
        font-size: 10px
    }
    .text2 {
        font-size: 10px
    }
    .text3 {
        font-size: 10px
    }
    .text4 {
        font-size: 10px
    }
    .text5 {
        font-size: 10px
    }
    .text6 {
        font-size: 10px
    }
    .text7 {
        font-size: 10px
    }
    .footer__one {
        /* padding-top: 20px!important; */
    }
    .blackbox {
        margin-bottom: 20px;
    }
    .logo__img2 {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }
    .logo2 {
        margin-bottom: 20px;
    }
    .grey {
        font-size: 10px;
    }
    /* .burger__box {
        width: 80px;
        height: 60px;
        padding-top: 5px;
        padding-left: 10px;
        top: 35px;
    } */
    /* .silka {
        font-size: 7px;
    } */
    .main__one {
        padding-top: 1px;
    }
}

@media only screen and (max-width:360px) {
    .logo__img {
        width: 200px;
    }
    .burger {
        height: 20px;
    }
    .box {
        height: 200px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .box2 {
        height: 200px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .in {
        height: 200px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .in2 {
        height: 200px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .one {
        height: 200px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .two {
        height: 200px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .three {
        height: 200px;
        text-align: center;
        padding-top: 20px;
    }
}

@media only screen and (max-width:335px) {
    .btext {
        font-size: 17px;
        line-height: normal;
        margin-bottom: 5px;
    }
    .btext2 {
        font-size: 17px;
        line-height: normal;
        margin-bottom: 5px;
    }
    .btext3 {
        font-size: 17px;
        line-height: normal;
    }
    .btext4 {
        font-size: 17px;
        line-height: normal;
    }
    .btext5 {
        font-size: 17px;
        line-height: normal;
    }
    .btext6 {
        font-size: 17px;
        line-height: normal;
    }
    .btext7 {
        font-size: 17px;
        line-height: normal;
    }
    .text {
        font-size: 10px;
        line-height: normal;
    }
    .text2 {
        font-size: 10px;
        line-height: normal;
    }
    .text3 {
        font-size: 10px;
        line-height: normal;
    }
    .text4 {
        font-size: 10px;
        line-height: normal;
    }
    .text5 {
        font-size: 10px;
        line-height: normal;
    }
    .text6 {
        font-size: 10px;
        line-height: normal;
    }
    .text7 {
        font-size: 10px;
        line-height: normal;
    }
    .logo__img {
        width: 200px;
    }
    .burger {
        height: 20px;
    }
    .insta {
        height: 30px;
        width: 30px;
    }
    .facebook {
        height: 30px;
        width: 30px;
    }
    .conect {
        height: 30px;
        width: 30px;
    }
    .painterest {
        height: 30px;
        width: 30px;
    }
    .blackbox {
        margin-bottom: 20px;
    }
    .logo__img2 {
        height: 100px;
        width: 100px;
        margin-bottom: 20px;
    }
    .box {
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .box2 {
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .in {
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .in2 {
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .one {
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .two {
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .three {
        height: 150px;
        text-align: center;
        padding-top: 20px;
    }
}

@media only screen and (max-width:320px) {
    .btext {
        font-size: 17px;
        line-height: normal;
        margin-bottom: 5px;
    }
    .btext2 {
        font-size: 17px;
        line-height: normal;
        margin-bottom: 5px;
    }
    .btext3 {
        font-size: 17px;
        line-height: normal;
    }
    .btext4 {
        font-size: 17px;
        line-height: normal;
    }
    .btext5 {
        font-size: 17px;
        line-height: normal;
    }
    .btext6 {
        font-size: 17px;
        line-height: normal;
    }
    .btext7 {
        font-size: 17px;
        line-height: normal;
    }
    .text {
        font-size: 10px;
        line-height: normal;
    }
    .text2 {
        font-size: 10px;
        line-height: normal;
    }
    .text3 {
        font-size: 10px;
        line-height: normal;
    }
    .text4 {
        font-size: 10px;
        line-height: normal;
    }
    .text5 {
        font-size: 10px;
        line-height: normal;
    }
    .text6 {
        font-size: 10px;
        line-height: normal;
    }
    .text7 {
        font-size: 10px;
        line-height: normal;
    }
    .logo__img {
        width: 200px;
    }
    .burger {
        height: 20px;
    }
    .insta {
        height: 30px;
        width: 30px;
    }
    .facebook {
        height: 30px;
        width: 30px;
    }
    .conect {
        height: 30px;
        width: 30px;
    }
    .painterest {
        height: 30px;
        width: 30px;
    }
    .blackbox {
        margin-bottom: 20px;
    }
    .logo__img2 {
        height: 100px;
        width: 100px;
        margin-bottom: 20px;
    }
    .box {
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .box2 {
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .in {
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .in2 {
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .one {
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .two {
        height: 150px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .three {
        height: 150px;
        text-align: center;
        padding-top: 20px;
    }
}